@import '../../../SASS/basis/fonts';
@import '../../../SASS/abstracts/mixins';
@import '../../../SASS/abstracts/vars';

.informationTitle{
    @include font('Larsseit', #22356F, 14px);
    font-weight: 100;
    line-height: 11px;
    min-height: 48px;
}