@import '../SASS/abstracts/mixins';
@import '../SASS/abstracts/vars';
@import '../SASS/basis/fonts';

.header{
    background-color: #F4F9E2;
    padding-top: 27px;
    padding-bottom: 50px;
    grid-area: 1/1/2/9;
    display: flex;
    flex-direction: column;
    position: relative;

    @media screen and(min-width: 320px){
        padding-left: 20px;
        padding-right: 20px;
    }

    @media screen and(min-width: 1282px){
        padding-left: 179px;
        padding-right: 131px;
        height: 100vh;
    }

    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 187px;
        position: relative;
        z-index: 4;

        .menuNavList{
            display: none;

            @media screen and (min-width: 1024px){
                display: flex;
            }

            .menuItem{
                @include font('Larsseit', #22356F, 14px);
                line-height: 16px;
                margin-right: 10px;
                &:last-child{
                    margin-right: 0;
                }
            }
        }

        .topBtn{
            border:none;
        }

        .mobileBtn{
            cursor: pointer;
            display: block;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: transparent;
            border: none;
            background-image: url("https://image.flaticon.com/icons/png/512/1636/1636053.png");
            width: 50px;
            height: 50px;

            @media screen and (min-width: 1024px) {
                display: none;
            }
        }
    }

    .images{
    display: none;
        @media screen and (min-width: 1282px) {
                display: block;
        }
    .img{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
    }

    .background{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
    }

    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        @media screen and (min-width: 1282px) {
            justify-content: flex-end;
            align-items: flex-start;
        }
        .title{
            @include font('Larsseit', #22356F, 30px);
            line-height: 38px;
            width: 100%;
            margin-bottom: 19px;

            @media screen and (min-width: 480px){
                @include font('Larsseit', #22356F, 42px);
                line-height: 53px;

            }

            @media screen and (min-width: 1282px){
                @include font('Larsseit', #22356F, 48px);
                line-height: 53px;
                max-width: 484px;
            }
        }

        .text{
            @include font('Larsseit', #22356F, 20px);
            line-height: 26px;
            width: 100%;
            margin-bottom: 63px;

            @media screen and (min-width: 480px){
                @include font('Larsseit', #22356F, 24px);
                line-height: 36px;
            }

            @media screen and (min-width: 1282px) {
                max-width: 469px;
                @include font('Larsseit', #22356F, 24px);
                line-height: 42px;
            }
    }
}
}