@import '../SASS/abstracts/mixins';
@import '../SASS/abstracts/vars';
@import '../SASS/basis/fonts';

.header{
    background-color: #F4F9E2;
    padding-left: 179px;
    grid-area: 1/1/2/9;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    .top{
        padding-top: 27px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 187px;
        position: relative;
        z-index: 4;

        .menuNavList{
            display: flex;
            position: absolute;
            top: 38px;
            right: 50%;
            .menuItem{
                @include font('Larsseit', #22356F, 14px);
                line-height: 16px;
                margin-right: 10px;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }

    .imgs{
    .img{
        position: absolute;
        top: 0;
        right: 0px;
        z-index: 2;
    }

    .background{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
    }

    .content{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;;
        .title{
            @include font('Larsseit', #22356F, 48px);
            min-height: 167px;
            max-width: 484px;
            width: 100%;
        }

        .text{
            @include font('Larsseit', #22356F, 24px);
            line-height: 42px;
            width: 100%;
            margin-bottom: 63px;
            max-width: 469px;
    }
}
}