@import '../../SASS/abstracts/mixins';
@import '../../SASS/abstracts/vars';
@import '../../SASS/basis/fonts';

.about{
    position: relative;
    grid-area: 3/1/4/9;
    display: flex;
    justify-content: center;
    padding: {
        top: 150px;
        bottom: 24px;
        left: 0;
        right: 0;
    };
    .title{
        @include font('Larsseit', #22356F, 16px);
        position: absolute;
        top: 156px;
        left: 106px;
    }

    .content{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        .text{
            @include font('Larsseit', #22356F, 24px);
            max-width: 592px;
            width: 100%;
            margin-bottom: 70px;
        }
    }
}