@import '../../SASS/abstracts/mixins';
@import '../../SASS/abstracts/vars';
@import '../../SASS/basis/fonts';

.about{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: {
        top: 40px;
        bottom: 20px;
        left: 20px;
        right: 20px;
    };


    @media screen and (min-width: 1020px) {
        padding: {
            top: 150px;
            bottom: 24px;
            left: 20px;
            right: 20px;
        };
    }

    @media screen and (min-width: 1440px) {
justify-content: center;
        padding-top: 50px;
    }


    .title{
        @include font('Larsseit', #22356F, 16px);
        margin-bottom: 30px;


        @media screen and (min-width: 1020px) {
            position: absolute;
            top: 156px;
            left: 106px;
            margin-bottom: 0;
        }

        @media screen and (min-width: 1440px) {
            position: static;
            align-self: flex-start;
            margin-bottom: 20px;
        }
    }

    .content{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        .text{
            @include font('Larsseit', #22356F, 24px);
            max-width: 592px;
            width: 100%;
            margin-bottom: 70px;

            @media screen and (min-width: 1440px) {
                max-width: none;
            }
        }
        .link{
            @include font('Larsseit', rgba(34, 53, 111, 0.5), 16px);
            line-height: 19px;
            letter-spacing: 0.06em;
        }
    }
}