@import '../../SASS/abstracts/mixins';
@import '../../SASS/abstracts/vars';
@import '../../SASS/basis/fonts';

.wrapper{
    .text{
        @include font ('Larsseit', $cardText, 32px );
        position: relative;

        &::before{
            content: '';
            width: 255px;
            height: 1px;
            background-color: #fff;
            position: absolute;
            top: -23px;
            left: -28px;
        }
    }
}

