@import '../../SASS/abstracts/mixins';
@import '../../SASS/abstracts/vars';
@import '../../SASS/basis/fonts';


.descriptionWrapper{
    background-color: #62D0DF;
    grid-area: 2/1/3/9;
    display: flex;
    justify-content: space-between;
    padding-left: 178px;
    

    .content{
        padding-top: 151px;    
        display: flex;
        flex-direction: column;

        .title{
            @include font('Larsseit', #FFFFFF, 36px);
            margin-bottom: 75px;

        }

        .text{
            max-width: 555px;
            width: 100%;
            @include font('Larsseit', #FFFFFF, 20px);
            line-height: 35px;
            font-size: 20px;
        }
        
    }
}