@import '../../SASS/abstracts/mixins';
@import '../../SASS/abstracts/vars';
@import '../../SASS/basis/fonts';

.card{
    display: flex;
    width: 100%;
    position: relative;

    &::before{
        content: '';
        padding-top: 100%;
    }
.wrapper {
    padding-top: 55px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px){
        padding-left: 105px;
    }
    .title {
        font-size: 28px;
        font-family: 'Larsseit';
        margin-bottom: 28px;
    }

    .text {
        max-width: 298px;
        width: 100%;
        font-family: 'Larsseit';
        font-size: 16px;
        line-height: 25.31px;
    }
}
}