@import "../SASS/abstracts/mixins";
@import "../SASS/abstracts/vars";
@import "../SASS/basis/fonts";

.footer{

.wrapper {
    background-color: #62D0DF;
    padding-left: 194px;
    display: flex;
    align-items: center;
    min-height: 80px;

    .copyRight {
        color: #FFFFFF;
        @include font('Larsseit', #FFFFFF, 14px);
    }
}
}