.wrapper{
    background-color: #62D0DF;
    grid-area: 10/1/11/9;
    display: flex;
    align-items: center;
    padding-left: 179px;
    padding-top: 32px;
    padding-bottom: 26px;
    .copyRight{
        font-size: 14px;
        color: #FFFFFF;
    }
}